@import "header";
@import "grid";


$btn : #D86C67;

.txtl{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txtm{
  font-size: 20px;
  margin-bottom: 10px;
}
.header-in p{
  margin: 0;
  display: inline-block;
}

header{
  height: 70px;
  header img{
    vertical-align: bottom;
  }
} 
  
.header-in{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 15px;
}
.btn{
  width: 318px;
  height: 44px;
  border: 1px solid $btn;
  background-color: $btn;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    height: 100%;
    // width: 100%; //ボタンを親要素いっぱいにするためだが入らない。
    padding-top: 10px;
    &:hover{
      background-color: lighten($btn, 10%);
      border-radius: 25px;
    }
  }
}

// top画面
.isara-top{
  background-image: url(../img/main.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
  h1{
    margin-top: 20px;
    padding-top: 80px;
    line-height: 50px;
  }
  p{
    font-weight: 600;
    margin-top: 30px;
  }
}

