@import "header";
@import "grid";


$btn : #D86C67;
$image-color : #eab857;

p, h1, h2{
  text-align: center;
  margin: 0;
}


.txtl{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txtm{
  font-size: 20px;
  margin-bottom: 10px;
}
.header-in p{
  margin: 0;
  display: inline-block;
}

header{
  height: 70px;
  header img{
    vertical-align: bottom;
  }
} 
  
.header-in{
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 15px;
}
.btn{
  width: 318px;
  height: 44px;
  border: 1px solid $btn;
  background-color: $btn;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    height: 100%;
    // width: 100%; //ボタンを親要素いっぱいにするためだが入らない。
    padding-top: 10px;
    &:hover{
      background-color: lighten($btn, 10%);
      border-radius: 25px;
    }
  }
}

// top画面
.isara-top{
  background-image: url(../img/main.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
  h1{
    margin-top: 20px;
    padding-top: 80px;
    line-height: 50px;
  }
  p{
    font-weight: 600;
    margin-top: 30px;
  }
}

.ask{
  background-color: #EBB94D;
  height: 600px;
  color:#fff;
  margin-bottom: 50px;
  .txtm{
    padding-top: 33px;
  }
  &-point{
    background: #f9f2f4;
    border-radius: 3px;
    color: #c7254e;
    width: 420px;
    margin: 20px auto 50px;
    font-weight: bolod;
  }
  h2{
    font-size: 21px;
    margin-top: 30px;
  }
}

.btn2{
  width: 80%;
  height: 104px;
  border: 1px solid $btn;
  background-color: darken($btn ,10%);
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    display: block;
    height: 100%;
    line-height: 104px;
    &:hover{
      background-color: $btn;
      border-radius: 50px;
      background-color: $btn;
    }
  }
}
.sns{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

////fleedom/////////
%befoafter{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display : inline-block;
}

.freedom{
  background: url('../img/introbottom.jpg');
  background-size: cover;
  height: 560px;
  position: relative; 
}
.txtbox{  
  width: 860px;
  max-width: calc(100% -40px);
  margin: 0 auto;
  position: relative;
  &::before{
    @extend %befoafter;
    border-top: 5px solid $image-color;
    border-left: 5px solid $image-color;
    top: 0;
    left: 0; 
  }
  &::after {
    @extend %befoafter;
    border-bottom: 5px solid $image-color;
    border-right: 5px solid $image-color;
    bottom: 0;
    right: 0;
  }
}
  .txtl{
    padding: 30px 0 30px 0;
  }
.underline{
  background: linear-gradient(transparent 70%, #eab857 50%);
  font-weight: 600;
}

.about-btn{
  color: #fff;
  background-color: $image-color;
  height: 80px;
  width:  80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  p{
    line-height: 80px;
  }
}

.about{
  background: #fef5e0;
  padding-top: 40px;
  .txtm{
    font-weight: 600;
  }
}