@import "header";
@import "grid";


$btn : #D86C67;
$image-color : #eab857;

p, h1, h2{
  text-align: center;
  margin: 0;
}


.txtl{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.txtm{
  font-size: 20px;
  margin-bottom: 10px;
}

.txts{
  font-size: 16px;
}

.spanl{
  font-size: 28px;
}
.header-in p{
  margin: 0;
  display: inline-block;
}

header{
  height: 70px;
  header img{
    vertical-align: bottom;
  }
} 
  
.header-in{
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 15px;
}
.btn{
  width: 318px;
  height: 44px;
  border: 1px solid $btn;
  background-color: $btn;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: block;
    height: 100%;
    // width: 100%; //ボタンを親要素いっぱいにするためだが入らない。
    padding-top: 10px;
    &:hover{
      background-color: lighten($btn, 10%);
      border-radius: 25px;
    }
  }
}

// top画面
.isara-top{
  background-image: url(../img/main.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
  h1{
    margin-top: 20px;
    padding-top: 80px;
    line-height: 50px;
  }
  p{
    font-weight: 600;
    margin-top: 30px;
  }
}

.ask{
  background-color: #EBB94D;
  height: 600px;
  color:#fff;
  margin-bottom: 50px;
  .txtm{
    padding-top: 33px;
  }
  &-point{
    background: #f9f2f4;
    border-radius: 3px;
    color: #c7254e;
    width: 420px;
    margin: 20px auto 50px;
    font-weight: bolod;
  }
  h2{
    font-size: 21px;
    margin-top: 30px;
  }
}

.btn2{
  width: 80%;
  height: 104px;
  border: 1px solid $btn;
  background-color: darken($btn ,10%);
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    display: block;
    height: 100%;
    line-height: 104px;
    &:hover{
      background-color: $btn;
      border-radius: 50px;
      background-color: $btn;
    }
  }
}
.sns{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

////fleedom/////////
%befoafter{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  display : inline-block;
}

.freedom{
  background: url('../img/introbottom.jpg');
  background-size: cover;
  height: 560px;
  position: relative; 
}
.txtbox{  
  width: 860px;
  max-width: calc(100% -40px);
  margin: 0 auto;
  position: relative;
  &::before{
    @extend %befoafter;
    border-top: 5px solid $image-color;
    border-left: 5px solid $image-color;
    top: 0;
    left: 0; 
  }
  &::after {
    @extend %befoafter;
    border-bottom: 5px solid $image-color;
    border-right: 5px solid $image-color;
    bottom: 0;
    right: 0;
  }
  .txtl{
    padding: 30px 0 30px 0;
  }
}
.underline{
  background: linear-gradient(transparent 70%, #eab857 50%);
  font-weight: 600;
}

.about-btn{
  color: #fff;
  background-color: $image-color;
  height: 80px;
  width:  80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  p{
    line-height: 80px;
  }
}

.about{
  background: #fef5e0;
  padding-top: 40px;
  .txtm{
    font-weight: 600;
    margin-bottom: 30px;
  }
}

// about部分

.about-box{
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  padding-bottom: 0;
  border: 2px solid $image-color;
  border-radius: 3px;
  background-color: #fff;
  height: 230px;
}
.flex{
  display: flex;
  justify-content: center; 
  &:nth-child(3n){
    margin-right: 0;
  }
}

.picturebox{
  text-align: center;
  width: 155px;
  height: 135px;
  p{
    font-size: 12px;
    margin-top: 10px;
  }
}

// about-second
.about-second{
  background-image: url(../img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  h1{
    color: #fff;
    padding-top: 50px;
    font-weight: 600;
  }
  h2{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 55px;
    span{
     color: $image-color; 
    }
  }
}
.card{
  background-color: #fff;
  width: 375px;
  height: 178px;
  border-radius: 5px;
  margin-right: 20px;
  p{
    margin: 0 auto;
    margin-top: 25px;
    font-weight: bold;
  }
}
.step{
  background-color: $image-color;
  color: #fff;
  width: 90%;
  border-radius: 5px;
}

.slillup{
  background-color: #246EA9;
  height: 140px;
  margin-bottom: 67px;
  h2{
    color: #fff;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 2px;
    font-weight: 400px;
    span{
      color: $image-color;
    }
  }
}

.learning{
  letter-spacing: 1.5px; 
  .txts{
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h2{
    font-size: 28px;
    margin-bottom: 50px;
    span{
      font-size: 0.7em;
      font-weight: 500;
    }
  }
  p{
    margin-bottom: 40px;
  }
  img{
    display: block;
    width: 180px;
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.merit{
  background-color:#FEF5E0;
  padding-top: 100px;
  padding-bottom: 50px;
  .txtbox{
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .three-content{
    width: 300px;
    margin-right: 30px;
    margin-left: 30px;
    p{
      text-align: left;
    }
  }
  .learnbox{
    background-image: url(../img/learnfromfreelancer.jpg);
    background-size: cover;
    width: 300px;
    height: 180px;
  }
}

.orange-font{
  color: $orange;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 10px auto;
}

.about-box{
  h2{
    color: $orange;
    font-size: 28px;
  }
  .txtm{
    font-weight: 600;
  }
  p{
    font-weight: 600;
    line-height: 1.7em;
  }
}

.teacher{
  background-image: url(../img/teacherbg.jpg);
  background-size: cover;
  padding: 30px;
  h2{
    padding-top: 40px;
    color: #fff;
  }
  p{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .members{
    display: flex;
    justify-content: center;
    width: 810px;
    margin: 0 auto;
    margin: 20px auto;
    flex-wrap: wrap;
  }
  .member{
    width: 370px;
    margin-right: 20px;
    text-align: center;
    img{
      position: relative;
      bottom: -50px;
      border-radius: 50%;

    }
    .detail{
      padding: 40px 40px;
      border: 2px solid #fff;
      color: #fff;
    }
    p{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.question{
  background-color: $image-color;
  padding-top: 30px;
  position: relative;
  &-radius{
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    line-height: 85px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: $image-color;
    position: relative;
  }
  .txtbox::before{
    border-top-color: #fff;
    border-left-color: #fff;
  }

  .txtbox::after{
    border-bottom-color: #fff;
    border-right-color: #fff;
  }
  .txtl{
    color: #fff;
    margin-bottom: 0;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -25px;
    width: 0;
    height: 0;
    border-top: 30px solid $image-color;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
  }
}
.answer{
  padding-top: 50px;
  .txts{
    color: #333;
    font-weight: 300;
  }
  img{
    border: 3px solid $image-color;
  }
  &-ceo{
    margin: 30px auto;
    display: flex;
    width: 60%;
    justify-content: center;
    p{
      font-style: italic;
      font-size: 18px;
      padding-top: 10px;
      padding-left: 30px;
      color: #777;
      text-align: left;
      small{
        font-size: 15px;
        text-decoration: underline;
      }
    }
  }
}

.form{
  background-color: $image-color;
  padding-top: 67px;
  
  .txts{
    margin-top: 25px;
  }
  .control{
    background-color: #fff;
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    margin: 25px auto;
    border-radius: 5px;
    
    input{
      width: 100%;
      height: 52px;
      padding: 10px;
    }
    textarea{
      padding: 5px;
    }
  }
  #message{
    width: 100%;
  }
  button{
    display: block;
    background-color: $btn;
    width: 60%;
    height: 53px;
    margin: 25px auto;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 600;
  }
}
